In [1]:
import os, sys
sys.path.append(os.path.join(os.getcwd(), 'src/'))

import pandas as pd
pd.set_option('display.max_rows', 500)

from oce_ecomm_abv_calculation.datasets.default_datasets import uci_online_retail_ii_customer_order_view

In [2]:
uci_retail_co_df = uci_online_retail_ii_customer_order_view()

In [3]:
uci_retail_co_df

,RandomizationUnitId,AnalysisUnitId,EventReceivedTime,r_BasketValue,r_BasketSize
0,12346,499763,2010-03-02 13:08:00,27.05,5
1,12346,513774,2010-06-28 13:53:00,142.31,19
2,12346,541431,2011-01-18 10:01:00,77183.60,74215
3,12347,529924,2010-10-31 14:20:00,611.53,509
4,12347,537626,2010-12-07 14:57:00,1423.58,638
...,...,...,...,...,...
36589,18287,523290,2010-09-21 12:19:00,30.60,12
36590,18287,534346,2010-11-22 11:51:00,331.50,186
36591,18287,554065,2011-05-22 10:39:00,765.28,488
36592,18287,570715,2011-10-12 10:23:00,1001.32,990
36593,18287,573167,2011-10-28 09:29:00,70.68,108